<%=form_for @comment, url:{:action => "update"} do |f|%>
<p>Please update your comment below:</p>

<%= f.label ("Name:") %><br>
<%=f.text_field :name%><br>

<%= f.label ("Comment:") %><br>
<%= f.text_field :description%><br>

<%= f.submit "update" %>
<%end%>